#title h1 {
    color: rgb(12, 12, 12);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

    @media screen and (max-width: '480px') {
        font-size: 2em;
    }
}

#img_holder {
    text-align: center;
}

#dessert {
    width: 60%;

    @media screen and (min-width: '1080px') {
        height: 600px;
    }
}

#img_holder p {
    padding-top: 10px;
}
