#contact_title {
    margin-left: 345px;
    font-style: italic;
    font-size: 300%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    @media screen and (max-width: '480px') {
        font-size: 2em;
    }
}

#image_holder {
    text-align: center;
    padding-bottom: 15px;

    img {
        margin-right: 200px;
        margin-top: -200px;
        width: 30%;
        @media screen and (min-width: '1080px') {
            height: 410px;
        }
    }
}

#text {
    background-color: rgb(235, 171, 206);
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 550px;
    padding: 20px;
    text-align: center;

    .highlight {
        font-size: 1.7rem;
    }
}
#bg-text {
    margin-top: -1cm;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    text-align: center;
    margin-left: 60px;
    color: rgb(12, 12, 12)
}